* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  @media screen and (max-width: 768px){
    /* background-color: lightblue; */
    /* width: 100vw; */
  }
}

